<span [ngClass]="(iPhoneX) ? 'notch':'no-notch'">
  <ion-header>
    <ion-toolbar color="white" class="padding-top">
        <ion-buttons start>
            <button clear ion-button (click)="close();">Back</button>
        </ion-buttons>
        <ion-searchbar [(ngModel)]="searchInput" [debounce]="500" (ionInput)="onInput($event)" [showCancelButton]="true" (ionCancel)="onCancel($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <search-music [search]="search" [showSuggested]="showSuggested" [queue]="queue" [show]="true" [suggestedTracks]="suggestedTracks" (replaceSuggested)="replaceSuggested($event)" (trackAdded)="addToQueue($event)"></search-music>
  </ion-content>
</span>
