<ion-content class="landing">
    <button class="web-player-btn" color="secondary" ion-button tappable (click)="goToHome()">Go to Web Player</button>
    <svg class="bird-sm" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g><path d="M401.8,130.6c-3.2-16.9-28.6-62.1-121.6-62.1c-93.9,0-129.2,63.6-152.5,105.7c-1.8,3.3-3.5,6.4-5.2,9.4   c-2.2,3.9-4.5,8.3-6.9,13.1c-10,19.4-22.4,43.4-45.5,58.1l9.1,14.4c27.1-17.1,41.2-44.6,51.5-64.7c2.3-4.5,4.5-8.7,6.6-12.4   c1.7-3,3.5-6.2,5.3-9.5c22.7-40.9,53.7-96.9,137.6-96.9c75,0,96.9,30.2,102.9,43.2c-22.5,8.6-82.8,38.2-83,107.2   c-52.1,38.7-56.7,91.6-56.8,106.9c-5.3,5.1-16,16.7-19.8,29.7l-0.3,71.1h17v-67.4c2.6-7.7,9.4-15.5,14-20.1   c17.3,5.2,33.3,7.5,47.6,7.5c39.6,0,67.3-16.1,81.1-26.5c1.8,6,2.3,10.1,2.3,10.4l2.1,19.9l12.9-15.2   C486.8,249.6,413.7,146.1,401.8,130.6z M260.4,340.2c0.7-14.9,6.4-56.2,46.1-87.9c7.8,10.9,24,30.7,47.3,44.7   c10.5,6.3,17.5,15.1,22.2,23.6C363.3,331.3,322.9,358.6,260.4,340.2z M397.7,327.3c-4.9-13.9-14.9-32.8-35.1-44.9   c-24.9-15-41.3-38.3-45.6-44.9c-0.8-62.3,55.6-87.2,73.6-93.5C405.2,163.6,456.6,243.4,397.7,327.3z"></path><circle cx="245.1" cy="174.7" r="12.6"></circle></g></svg>
    <img src="../assets/img/render.png" class="render"/>
    <div class="fold">
      <div class="fold-container">
          <p><br/>Introducing <strong>Squawkbox</strong>, your virtual jukebox.<br/>
             Invite your friends to queue up and listen to tracks using your <strong>Spotify</strong>&reg; library.</p>
          <img class="apple-download" src="../assets/img/apple.png"/>
          <img class="android-download" src="../assets/img/android.png"/>
          <div class="copyright">© 2017 TimeshiftHR Technologies Inc.</div>
      </div>
    </div>
</ion-content>
