.landing {
  text-align: center;
  background-color: #1e6cfa;
  background-image: none;
  height: 100vh;
  position: fixed;

  .scroll-content {
    overflow-y: hidden !important;
  }

  .web-player-btn {
    right: 20px;
    top: 15px;
    position: absolute;

    @media(max-width: 600px) {
      top: 33px;
    }
  }

  .fold {
    width: 100%;
    height: 45%;
    background-color: #4987fa;
    position: absolute;
    bottom: 0;
    left: 0;

    h1 {
      color: #f2f1ef;
      font-size: 2.5em;
      margin-top: 40px;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;

      @media(max-width: 600px) {
        font-size: 2em;
        margin-top: 25px;
      }
    }

    p {
      color: #f2f1ef;
      font-size: 18px;
      margin: 10px 0px 30px 0px;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
      line-height: 35px;

      @media(max-width: 600px) {
        font-size: 15px;
        padding: 10px;
        margin: -12px 0px 12px 0px;
        line-height: 23px;
      }
    }

    .copyright {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0px 10px 5px 0px;
      color: lightblue;
      font-weight: 300px;

      @media(max-width: 600px) {
        display: none;
      }
    }

    .button {
      &.button-outline {
        color: white;
        border-color: white;
      }
    }

    .apple-download {
      width: 245px;
      padding-right: 8px;
      -webkit-animation: fadeInUp 2s;
      animation: fadeInUp 3s;

      @media(max-width: 600px) {
        width: 215px;
        padding-right: 0px;
      }
    }

    .android-download {
      width: 245px;
      padding-left: 8px;
      -webkit-animation: fadeInUp 2s;
      animation: fadeInUp 3s;

      @media(max-width: 600px) {
        width: 215px;
        padding-left: 0px;
      }
    }

    @media(max-width: 330px) {
      height: 60%;
    }
  }

  .bird {
    width: 200px;
    position: absolute;
    top: 25%;
    margin-left: -85px;
    -webkit-animation: fadeInLeft 1s;
    -webkit-animation-delay:5000ms;
    animation: fadeInLeft 1s;
    animation-delay:5000ms;

    path, circle {
      fill: #add8e6;
    }
  }

  .bird-sm {
    width: 75px;
    position: absolute;
    left: 25px;
    top: 20px;

    path, circle {
      fill: #add8e6;
    }
  }

  .render {
    width: 400px;
    margin-top: 45px;
    -webkit-animation: slideInUp 2s;
    animation: slideInUp 2s;

    @media(max-width: 600px) {
      width: 315px;
      margin-top: 105px;
    }

    @media(max-width: 330px) {
      width: 250px;
      margin-top: 105px;
    }
  }
}
