<ion-card class="now-playing animated fadeIn" *ngIf="currentTrack" (swipe)="swiped($event)">
  <div class="card-img-player" [ngStyle]="{'background-image': 'url(' + currentTrack.imageUrlFull + ')', 'background-size': 'cover', 'background-position': 'center'}"></div>
  <div class="card-title">{{currentTrack.name}}</div>
  <div class="card-subtitle">{{currentTrack.artist}} &#8226; {{currentTrack.album}}</div>
  <ion-note>
    <ion-badge color="light" class="users-listening" small item-end>{{ clientCount }} Listening</ion-badge>
    <ion-badge color="light" class="queue-pick" small item-end><ion-icon name="contact"></ion-icon>{{ currentTrack.queuedBy }}'s Pick</ion-badge>
  </ion-note>
  <button ion-button icon-only outline class="skip" *ngIf="host" (click)="playNext();"><ion-icon name="md-skip-forward"></ion-icon></button>
  <button ion-button icon-only outline class="shuffle" *ngIf="host" [outline]="!shuffle" (click)="shuffleLibrary()"><ion-icon name="md-shuffle"></ion-icon></button>
  <ion-card-content>
    <ion-item>
        <ion-icon name="play" item-left class="play-button" *ngIf="!currentTrack.isPlaying && host" (click)="toggle()"></ion-icon>
        <ion-icon name="pause" item-left class="play-button" *ngIf="currentTrack.isPlaying && host" (click)="toggle()"></ion-icon>
        <ion-range [disabled]="!host" min="0" max="{{ currentTrack.duration }}" [(ngModel)]="currentTrack.playPosition" color="primary" (ionBlur)="scrubTrack($event)" (ionChange)="onIndexChange($event)">
          <ion-label range-left small name="contrast">{{ currentTrack.playPosition | millisecondsToTime }}</ion-label>
          <ion-label range-right name="contrast">{{ currentTrack.duration | millisecondsToTime }}</ion-label>
        </ion-range>
      </ion-item>
  </ion-card-content>
</ion-card>

<div class="no-tracks animated fadeIn" *ngIf="welcome">
  <h1>It's Awfully Quiet!</h1>
  <p>Why not queue up a track?</p>
  <button ion-button outline large tappable (click)="browse();">Browse Library</button>
</div>
