ion-list-header {
  background-color: #fdfdfd !important;

  &.list-header-md {
    border-bottom: 0.55px solid #d3d3d3 !important;
  }

  .control-icons{
    width: 4rem;
  }
}

ion-item {
  .track-contents {
    width: 100%;
    margin-top: 7px;

    .queued-by {
      font-size: 10px;
      float: right;
    }
  }
}

.item-range ion-range ion-label {
  width: 33px !important;
  overflow: hidden !important;
  font-size: 13px;
  text-align: center;
}

