
<ion-toolbar>
  <ion-searchbar item-right
      [(ngModel)]="search">
    </ion-searchbar>
</ion-toolbar>

<ion-list class="browse-list">

  <button ion-item *ngFor="let track of library | search: search" (click)='addTrack(track)'>
    <ion-thumbnail item-left>
      <img src="{{track.albumArtRef[0].url}}">
    </ion-thumbnail>
    <div item-content style="width:100%">
      <p class="track-title"><strong>{{track.title}}</strong></p>
      <p class="track-artist"><em>{{track.artist}}</em></p>
    </div>
  </button>
</ion-list>
