.item {
  background-color: transparent;

  .track-artist {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .track-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ion-thumbnail {
    img {
      border-radius: 5px;
    }
  }
}
