<ion-list class="browse-list" [ngClass]="(loading) ? 'loading-list' : ''">
    <ion-item-divider color="light" *ngIf='showSuggested'>Suggested Songs</ion-item-divider>
    <ion-item class="sugg-song" *ngIf='showSuggested && show'>
      <ion-row>
        <ion-col col-4 text-center *ngFor="let track of suggestedTracks">
          <div class="sugg-song-individual" (click)='addToQueue(track, true)'>
            <ion-thumbnail>
              <img [width]="50" [height]="50" src="{{ track.imageUrl }}">
            </ion-thumbnail>
            <h2>{{ track.name }}</h2>
            <p>{{ track.artist }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item-divider color="light" *ngIf="(searchResults.length > 0 && show) || loading">Search Results</ion-item-divider>
    <spinner *ngIf="loading" id="spinner"></spinner>
    <div *ngIf="!loading">
      <button ion-item *ngFor="let track of searchResults" (click)='addToQueue(track)'>
        <ion-thumbnail item-left>
          <img src="{{track.imageUrl}}">
        </ion-thumbnail>
        <div item-content style="width:100%">
          <div class="track-name">{{track.name}}</div>
          <div class="track-title">{{track.artist}} &#8226; {{ track.album }}</div>
        </div>
      </button>
    </div>
</ion-list>

<ion-infinite-scroll (ionInfinite)="getMoreSongs($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

<div class="no-tracks" *ngIf="searchResults.length == 0 && clean == false">
  <h1>No results found for "{{ _search }}"</h1>
  <p>Make sure your words are spelled correctly</p>
</div>

<!-- Default Message -->
<div class="no-tracks" *ngIf="searchResults.length == 0 && suggestedTracks == null && clean == true">
  <h1>Search For a Song</h1>
  <p>Use the searchbar above to start searching!</p>
</div>

