.track-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  color: #111;
  font-size: 16px;
}

.track-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  color: #666;
  font-size: 12px;
  margin-top: 0px;
}

.track-queued {
  font-size: 11px !important;

  ion-icon {
    margin-top: -2px;
    vertical-align: middle;
    margin-right: 1px;
  }
}

.item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
  margin: 8px 4px 8px 0;
}

.item-ios {
  padding-right: 16px;
}

.item-divider {
  font-weight: 300;
  font-size: 21px;
}

.item {
  //background-color: white; //Add class
}

.item-md ion-thumbnail {
  min-width: 56px !important;
  min-height: 56px !important;
}

.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
  margin: 8px 10px 8px 0 !important;
}

.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
  width: 56px;
  height: 56px;
}

.sugg-song {
  .sugg-song-individual {
    display: inline-block;
    text-align: center;
    p {
      font-size: 1.0rem;
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h2 {
      margin-top: 5px;
      font-size: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
    }

    img {
      display: inline-block;
    }
  }
}

.browse-list {
  background-color: white !important;
  z-index: 9999;
}

.loading-list {
  height: 100%;
}

ion-list {
  margin-top: 0px !important;
}

#spinner{
  margin: 25% auto 0;
  height: 100% !important;
}
