<ion-header>
  <ion-navbar color="primary" [ngClass]="(this.miniPlayer == 1) ? 'toolbar-shadow':''">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="player-title">{{ currentUser.room }}</ion-title>
    <ion-buttons end>
      <button item-right clear ion-button icon-only (click)="leaveRoom()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <!-- TODO: Re-add MiniPlayer: https://gitlab.com/TimeShifts/squawkbox/issues/90 -->
  <!-- <div class="mini-player">
    <p>
      {{miniPlayer}}
    </p>
  </div> -->
</ion-header>

<ion-content (ionScroll)="scrollFunction($event)">
  <spinner *ngIf="loading"></spinner>
  <section *ngIf="!loading">
    <playing [clientCount]="clientCount" [currentTrack]="currentTrack" [host]="false" [(welcome)]="welcome"></playing>
  <queue [queue]="queue" [enableVoting]="enableVoting" [host]="false" [userId]="currentUser._id" [(showQueue)]="showQueue" (trackRemoved)="deleteFromQueue($event)" (sendVote)="sendVote($event)"></queue>
  </section>
</ion-content>
