.header-modal-label {
  margin-bottom: 22px;
}

.header-modal-close {
  position: absolute;
  right: 0;
  top: 0;
}

ion-card {
  position: relative;
  text-align: center;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 25px;

  &.card-spotify {
    background-color: #222326;
    opacity: .55;
    height: 110px;

    .card-title {
      top: 33% !important;
    }

    .card-subtitle {
      top: 46% !important;
    }
  }

  &.active {
    opacity: .9 !important;
  }

  &.disabled {
    opacity: .15;
  }
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  margin-top: -10px;
}

.card-subtitle {
  font-size: 1.0em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: #fff;
  opacity: .9;
  margin-top: 10px;
}

.card-icon-spotify {
  width: 45%;
  position: absolute;
  right: 0;
  top: -15px;
  transform: rotate(15deg);
  opacity: .15;

  path {
    fill: white;
  }
}

.card-background-page {
  .header-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #AcAcAc;
    position: relative;
    height: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    .header-divider-text {
      font-size: 12px;
      background-color: $background;
      position: absolute;
      text-transform: uppercase;
      font-weight: bold;
      width: 55px;
      margin-left: -27px;
      margin-top: 16px;
      color: lighten(#6c6c6c, 15);
    }
  }
  ion-card {
    position: relative;
    text-align: center;
    height: 140px;
    background-color: #488aff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 25px;

    &.create {
      background-color: $blue;
    }

    &.join {
      background-color: $green;
    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.3em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    margin-top: -10px;
  }

  .card-subtitle {
    font-size: 1.2em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    opacity: .9;
    margin-top: 10px;
  }

  .card-icon-join {
    width: 45%;
    position: absolute;
    right: 0;
    top: -15px;
    transform: rotate(15deg);
    opacity: .15;

    path {
      fill: white;
    }
  }

  .card-icon-create {
    width: 45%;
    position: absolute;
    left: 0;
    top: -15px;
    transform: rotate(-15deg);
    opacity: .15;

    path {
      fill: white;
    }

    rect {
      fill: white;
    }
  }
}
