<ion-header>
  <ion-navbar color="primary" [ngClass]="(!this.miniPlayer) ? 'toolbar-shadow':''">
    <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-buttons left>
      <button item-left clear ion-button icon-only (click)="openSettings($event)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="player-title">{{currentUser.room}}</ion-title>

    <ion-buttons end>
      <button item-right clear ion-button icon-only (click)="leaveRoom()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <!-- TODO: Re-add MiniPlayer: https://gitlab.com/TimeShifts/squawkbox/issues/90 -->
  <!-- <div class="mini-player animated" *ngIf="this.miniPlayer != 0" [ngClass]="(this.miniPlayer == 1) ? 'slideInDown':'slideOutUp'">
    <p><ion-icon name="play" class="status"></ion-icon><strong>{{ currentTrack.name }}</strong> by {{ currentTrack.artist }}</p>
  </div> -->

</ion-header>

<ion-content (ionScroll)="scrollFunction($event)">
  <playing [clientCount]="clientCount" [currentTrack]="currentTrack" [host]="true" (playNextTrack)="playTopOfQueue()" (trackFinished)="onTrackFinished($event)" [(shuffle)]="shuffle" (shuffleLib)="setShuffle($event)" [(welcome)]="welcome"></playing>
  <queue [(queue)]="queue" [enableVoting]="enableVoting" [host]="true" (playTrack)="play($event)" (trackRemoved)="deleteFromQueue($event)" (reorderQueue)="reorderQueue($event)" [(showQueue)]="showQueue" (sendVote)="sendVote($event)"></queue>
</ion-content>
