.card-subtitle {
  font-size: 1.0em;
  position: absolute;
  top: 32%;
  width: 100%;
  color: #fff;
  opacity: .9;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
}

.card-title {
  position: absolute;
  top: 25%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  margin-top: -10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.9em;
}

ion-card img {
  display: block;
  width: 100%;
  filter: brightness(45%);
}

.numbers {
  font-size: .7em;
}

.up-next {
  overflow: visible;
  h1 {
    font-weight: 300;
    margin: 6px 0px -11px 15px;
    z-index: 99;
  }
}

.card-img-player {
  height: 145px;
  width: 100%;
  filter: brightness(40%);
}

ion-range {
  padding: 0px !important;
}

.shuffle {
  position: absolute;
  border-color: white;
  right: 5px;
  margin-top: -40px;
  color: white;
  font-size: 1rem;
  padding: 0px;

  &:active {
    color: black;
    background-color: white;
    opacity: .8;
  }

  &.activated {
    background-color: white;
  }
}

.skip {
  position: absolute;
  border-color: white;
  right: 50px;
  margin-top: -40px;
  color: white;
  font-size: 1rem;
  padding: 0px;

  &:active {
    color: black;
    background-color: white;
    opacity: .8;
  }

  &.activated {
    background-color: white;
  }
}

.track-item {
  background-color: white !important;

  img {
    -webkit-filter: brightness(100%) !important;
    filter: brightness(100%) !important;
  }
}

.now-playing {
  margin: 18px 12px 12px 12px;
  background-color: white;
}

.browse-button {
  margin: 21px 13px 0 0px !important;
}

.edit-button {
  margin: 21px 5px 0 0px !important;
}

.edit-button-enabled {
  background-color: #488aff;
  color: white;
  opacity: 1;
}

.users-listening {
  font-size: 1.0rem;
  font-weight: 400;
  left: 13px;
  position: absolute;
  top: 53%;
  color: #222;
}

.queued-by-badge {
  font-size: 1.0rem;
  font-weight: 400;
  margin: 0px !important;
  color: #666;
  ion-icon {
    margin-right: 3px !important;
  }
}

.votes-badge {
  font-size: 1.0rem;
  font-weight: 400;
  margin: 0px !important;
  color: #666;

  &.voted {
    background-color: #488aff;
    color: #fff;
  }
}

.queue-pick {
  font-size: 1.0rem;
  font-weight: 400;
  left: 90px;
  position: absolute;
  top: 53%;
  height: 16px;
  color: #222;

  ion-icon {
    font-size: 1em;
    margin-right: 3px;
  }
}

.play[_ngcontent-c0] {

  position: absolute;
  top: 0rem;
  display: inline-flex;
  min-width: inherit;
  min-height: inherit;
  margin: 8px 16px 8px 0;
  background: #444444;
  opacity: 0.5;
}

.mini-player {
  background-color: white;
  height: 60px;
  z-index: -1 !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  border-bottom: 0.55px solid #f8c7cc !important;

  p {
    font-weight: 300;
    color: #666;
    line-height: 0px;
    padding: 0px;
    position: absolute;
    margin: 21px 0px 0px 18px;

    .status {
      padding: 0px 10px 0px 0px;
      margin-top: 0px;
    }
    strong {
      font-weight: 400;
      color: #111;
    }
  }
}
