<!-- Start Introduction Slides -->
<section *ngIf="slides == true">
  <ion-slides pager>
    <ion-slide>
      <img src="assets/img/welcome.png"/>
      <h2 class="slider-title">Welcome to SquawkBox!</h2>
      <p class="slider-desc">SquawkBox is your new virtual jukebox!</p>
      <p class="slider-swipe-left">Swipe left to get started</p>
    </ion-slide>

    <ion-slide>
      <h2 class="slider-title">Let's Get Started</h2>
      <p class="slider-desc">Let's get started with your name</p>
      <ion-list class="slides-name">
        <ion-item>
          <ion-input [(ngModel)]="name" placeholder="Your Name" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button outline tappable (click)="finishSlides();" *ngIf="name.length != ''">Start Squawkin'</button>
    </ion-slide>
  </ion-slides>
</section>


<!-- Start Home Content -->
<section *ngIf="slides == false">
    <ion-header>
        <ion-navbar color="primary" class="toolbar-shadow">
          <ion-title class="home-title">
            Squawkbox
          </ion-title>
        </ion-navbar>
      </ion-header>

      <ion-content class="card-background-page">
        <ion-card class="join" [ngClass]="this.hasConnection ? 'active' : 'disabled'" tappable (click)="joinRoom()">
            <div class="card-title">Join</div>
            <div class="card-subtitle">Join a room to queue up music</div>
            <svg class="card-icon-join" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M43.387,41.541c-0.386,0.057-0.899-0.146-1.142-0.452l-1.797-2.268c-0.242-0.305-0.323-0.852-0.179-1.214l1.066-2.692  c0.144-0.362,0.577-0.705,0.962-0.762l2.861-0.422c0.386-0.057,0.899,0.146,1.141,0.452l1.797,2.268  c0.242,0.305,0.323,0.852,0.18,1.214l-1.066,2.692c-0.144,0.362-0.576,0.705-0.962,0.762L43.387,41.541z"/><path d="M50.333,32.698c-0.386,0.057-0.899-0.146-1.141-0.452l-1.632-2.059c-0.242-0.305-0.323-0.852-0.18-1.214l0.962-2.44  c0.143-0.362,0.575-0.706,0.961-0.763l2.599-0.383c0.386-0.057,0.896,0.146,1.141,0.452l1.627,2.058  c0.241,0.306,0.322,0.853,0.18,1.215l-0.961,2.439c-0.144,0.362-0.576,0.706-0.962,0.763L50.333,32.698z"/><path d="M53.963,43.482c-0.386,0.057-0.898-0.146-1.141-0.452l-2.049-2.588c-0.241-0.306-0.322-0.852-0.182-1.215l1.213-3.064  c0.145-0.363,0.574-0.706,0.963-0.764l3.268-0.487c0.386-0.058,0.898,0.146,1.141,0.451l2.049,2.588  c0.24,0.306,0.321,0.853,0.18,1.215l-1.213,3.071C58.049,42.6,57.617,42.943,57.23,43L53.963,43.482z"/><path d="M60.855,34.305c-0.389,0.057-0.899-0.146-1.145-0.451l-1.539-1.942c-0.24-0.305-0.32-0.852-0.18-1.214l0.906-2.303  c0.146-0.363,0.576-0.706,0.963-0.763l2.453-0.363c0.389-0.057,0.899,0.146,1.145,0.452L65,29.661  c0.242,0.305,0.322,0.852,0.182,1.214l-0.914,2.304c-0.146,0.362-0.578,0.706-0.963,0.763L60.855,34.305z"/><path d="M68.344,27.115c-0.386,0.057-0.898-0.146-1.142-0.452l-1.188-1.494c-0.242-0.306-0.322-0.852-0.179-1.214l0.705-1.773  c0.144-0.362,0.577-0.705,0.963-0.762l1.876-0.278c0.387-0.057,0.898,0.146,1.143,0.451l1.188,1.496  c0.243,0.305,0.324,0.851,0.181,1.213l-0.701,1.771c-0.144,0.362-0.576,0.705-0.961,0.762L68.344,27.115z"/><path d="M75.709,21.598c-0.387,0.057-0.898-0.147-1.143-0.452l-0.58-0.734c-0.242-0.305-0.323-0.852-0.18-1.214l0.344-0.873  c0.144-0.363,0.576-0.706,0.961-0.762l0.928-0.136c0.386-0.056,0.898,0.146,1.143,0.453l0.582,0.732  c0.241,0.305,0.322,0.852,0.18,1.214L77.598,20.7c-0.144,0.363-0.576,0.706-0.961,0.762L75.709,21.598z"/><path d="M78.098,30.669c-0.386,0.058-0.896-0.145-1.143-0.45l-0.673-0.847c-0.243-0.305-0.324-0.851-0.181-1.213l0.396-1.003  c0.146-0.362,0.576-0.705,0.962-0.761l1.068-0.157c0.388-0.056,0.9,0.147,1.145,0.452l0.674,0.845  c0.242,0.305,0.323,0.851,0.182,1.213l-0.396,0.999c-0.146,0.362-0.575,0.706-0.962,0.763L78.098,30.669z"/><path d="M84.493,27.956c-0.386,0.056-0.897-0.148-1.142-0.454l-0.226-0.285c-0.239-0.306-0.319-0.853-0.179-1.214l0.136-0.338  c0.146-0.362,0.577-0.704,0.963-0.76l0.354-0.052c0.387-0.056,0.897,0.148,1.143,0.453l0.225,0.281  c0.24,0.305,0.321,0.852,0.18,1.214l-0.135,0.342c-0.146,0.363-0.576,0.705-0.963,0.761L84.493,27.956z"/><path d="M70.947,36.726c-0.387,0.057-0.899-0.146-1.143-0.452l-1.271-1.605c-0.242-0.305-0.323-0.852-0.18-1.214l0.754-1.903  c0.146-0.362,0.578-0.705,0.963-0.762l2.022-0.298c0.386-0.057,0.898,0.146,1.142,0.452l1.271,1.605  c0.242,0.305,0.323,0.852,0.181,1.214l-0.752,1.902c-0.145,0.363-0.576,0.706-0.961,0.763L70.947,36.726z"/><path d="M79.061,39.311c-0.386,0.057-0.896-0.146-1.142-0.451l-0.851-1.069c-0.241-0.306-0.321-0.852-0.178-1.214l0.506-1.273  c0.144-0.362,0.576-0.706,0.963-0.763l1.347-0.199c0.386-0.057,0.899,0.146,1.142,0.451l0.854,1.074  c0.241,0.305,0.321,0.852,0.179,1.214l-0.502,1.268c-0.146,0.362-0.577,0.706-0.963,0.763L79.061,39.311z"/><path d="M86.415,37.749c-0.386,0.058-0.899-0.146-1.142-0.451L84.6,36.447c-0.242-0.306-0.322-0.853-0.181-1.215l0.397-1.011  c0.144-0.362,0.576-0.705,0.961-0.761l1.078-0.157c0.387-0.056,0.897,0.147,1.143,0.453l0.672,0.845  c0.242,0.305,0.323,0.851,0.18,1.213l-0.398,1.012c-0.146,0.362-0.577,0.706-0.965,0.763L86.415,37.749z"/><path d="M65.908,16.414c-0.387,0.057-0.899-0.146-1.143-0.451l-0.518-0.649c-0.242-0.305-0.323-0.852-0.182-1.214l0.307-0.768  c0.146-0.362,0.576-0.706,0.962-0.762l0.812-0.121c0.389-0.057,0.899,0.146,1.146,0.451l0.519,0.648  c0.24,0.305,0.321,0.851,0.18,1.213l-0.305,0.769c-0.146,0.362-0.578,0.706-0.963,0.763L65.908,16.414z"/><path d="M55.668,14.289c-0.386,0.057-0.898-0.146-1.141-0.452l-0.846-1.068c-0.242-0.306-0.324-0.853-0.184-1.215l0.497-1.259  c0.146-0.362,0.573-0.706,0.961-0.763l1.354-0.2c0.387-0.057,0.896,0.147,1.141,0.453l0.84,1.066  c0.241,0.306,0.32,0.853,0.177,1.215l-0.497,1.26c-0.146,0.362-0.578,0.706-0.965,0.763L55.668,14.289z"/><path d="M44.567,14.551c-0.386,0.057-0.899-0.146-1.141-0.452l-0.944-1.191c-0.242-0.306-0.322-0.852-0.179-1.214l0.561-1.412  c0.144-0.362,0.577-0.706,0.962-0.763l1.504-0.224c0.385-0.058,0.898,0.146,1.141,0.451l0.943,1.192  c0.242,0.306,0.323,0.853,0.18,1.215l-0.557,1.411c-0.143,0.362-0.575,0.706-0.961,0.763L44.567,14.551z"/><path d="M35.592,14.826c-0.386,0.057-0.899-0.146-1.14-0.452l-0.499-0.633c-0.241-0.306-0.323-0.853-0.18-1.216l0.295-0.754  c0.143-0.363,0.574-0.706,0.96-0.762l0.803-0.117c0.386-0.056,0.9,0.147,1.143,0.452l0.507,0.637  c0.243,0.305,0.323,0.85,0.179,1.212l-0.3,0.75c-0.145,0.362-0.578,0.705-0.964,0.762L35.592,14.826z"/><path d="M47.88,22.751c-0.386,0.057-0.899-0.146-1.141-0.452l-1.12-1.414c-0.242-0.306-0.323-0.854-0.18-1.215l0.66-1.674  c0.143-0.362,0.575-0.705,0.961-0.761l1.786-0.261c0.386-0.056,0.899,0.148,1.141,0.454l1.115,1.407  c0.242,0.306,0.323,0.852,0.183,1.215l-0.661,1.673c-0.143,0.363-0.576,0.706-0.961,0.763L47.88,22.751z"/><path d="M58.154,24.47c-0.387,0.057-0.899-0.146-1.143-0.452l-1.188-1.493c-0.242-0.305-0.323-0.852-0.184-1.214l0.699-1.773  c0.143-0.362,0.575-0.706,0.961-0.762l1.891-0.279c0.389-0.057,0.9,0.147,1.145,0.452l1.188,1.495  c0.242,0.305,0.322,0.852,0.18,1.214l-0.702,1.771c-0.146,0.362-0.577,0.706-0.963,0.762L58.154,24.47z"/><path d="M40.447,31.083c-0.386,0.058-0.899-0.146-1.141-0.452l-1.273-1.61c-0.242-0.306-0.322-0.853-0.18-1.215l0.753-1.91  c0.143-0.362,0.575-0.706,0.961-0.762l2.036-0.3c0.386-0.057,0.899,0.147,1.141,0.453l1.271,1.604  c0.242,0.306,0.323,0.853,0.18,1.215l-0.752,1.91c-0.143,0.362-0.575,0.706-0.96,0.764L40.447,31.083z"/><path d="M37.979,22.192c-0.385,0.058-0.899-0.146-1.141-0.451l-0.798-1.007c-0.242-0.305-0.323-0.852-0.18-1.214l0.476-1.202  c0.144-0.363,0.576-0.706,0.961-0.764l1.275-0.19c0.385-0.058,0.898,0.146,1.14,0.452l0.8,1.013  c0.242,0.306,0.322,0.853,0.178,1.215l-0.475,1.195c-0.144,0.362-0.577,0.706-0.962,0.763L37.979,22.192z"/><path d="M28.481,21.551c-0.386,0.057-0.899-0.146-1.141-0.452l-0.668-0.843c-0.242-0.306-0.323-0.852-0.18-1.215l0.397-1.005  c0.143-0.363,0.576-0.705,0.961-0.761l1.065-0.156c0.386-0.056,0.899,0.148,1.141,0.454l0.668,0.844  c0.242,0.306,0.322,0.852,0.179,1.214l-0.396,0.999c-0.144,0.362-0.577,0.706-0.962,0.763L28.481,21.551z"/><path d="M21.894,21.578c-0.386,0.057-0.9-0.146-1.143-0.451l-0.362-0.454c-0.243-0.305-0.324-0.85-0.181-1.212l0.214-0.54  c0.143-0.362,0.576-0.706,0.961-0.763l0.579-0.086c0.386-0.058,0.898,0.146,1.139,0.453l0.357,0.454  c0.241,0.307,0.321,0.854,0.177,1.216l-0.212,0.538c-0.144,0.363-0.576,0.706-0.962,0.762L21.894,21.578z"/><path d="M30.147,29.994c-0.386,0.057-0.899-0.146-1.142-0.451l-0.849-1.069c-0.243-0.305-0.324-0.851-0.18-1.214l0.501-1.267  c0.144-0.363,0.576-0.705,0.962-0.761l1.353-0.197c0.386-0.056,0.899,0.148,1.141,0.454l0.838,1.06  c0.242,0.306,0.323,0.852,0.179,1.214l-0.501,1.268c-0.144,0.362-0.576,0.706-0.962,0.763L30.147,29.994z"/><path d="M21.481,29.385c-0.386,0.056-0.9-0.147-1.143-0.452l-0.724-0.91c-0.243-0.305-0.323-0.851-0.179-1.213l0.433-1.086  c0.144-0.362,0.578-0.705,0.963-0.761l1.144-0.168c0.386-0.057,0.9,0.146,1.143,0.452l0.726,0.912  c0.243,0.305,0.324,0.851,0.18,1.213l-0.43,1.083c-0.144,0.362-0.577,0.705-0.962,0.761L21.481,29.385z"/><path d="M32.889,39.79c-0.386,0.057-0.899-0.147-1.141-0.452l-1.481-1.869c-0.242-0.305-0.322-0.852-0.179-1.214l0.881-2.225  c0.144-0.362,0.577-0.706,0.962-0.763l2.363-0.35c0.386-0.057,0.899,0.146,1.141,0.452l1.482,1.874  c0.242,0.306,0.322,0.852,0.179,1.215l-0.88,2.224c-0.144,0.363-0.576,0.706-0.962,0.762L32.889,39.79z"/><path d="M64.746,44.952c-0.387,0.057-0.898-0.146-1.141-0.452l-1.783-2.255c-0.241-0.306-0.322-0.853-0.18-1.215l1.055-2.677  c0.143-0.362,0.574-0.706,0.961-0.762l2.849-0.418c0.386-0.057,0.899,0.147,1.142,0.453l1.783,2.256  c0.241,0.306,0.322,0.852,0.18,1.215l-1.055,2.67c-0.143,0.363-0.574,0.706-0.961,0.763L64.746,44.952z"/><path d="M74.301,47.111c-0.386,0.057-0.898-0.147-1.142-0.452l-1.279-1.611c-0.241-0.305-0.323-0.852-0.179-1.214l0.756-1.905  c0.145-0.362,0.577-0.706,0.963-0.763l2.033-0.302c0.386-0.058,0.898,0.146,1.141,0.451l1.275,1.611  c0.24,0.306,0.322,0.852,0.18,1.215l-0.754,1.91c-0.143,0.362-0.574,0.706-0.961,0.762L74.301,47.111z"/><path d="M83.629,48.246c-0.386,0.057-0.898-0.146-1.143-0.452l-1.192-1.502c-0.241-0.305-0.323-0.851-0.179-1.213l0.711-1.792  c0.145-0.362,0.576-0.705,0.963-0.762l1.902-0.279c0.386-0.057,0.896,0.147,1.142,0.453l1.192,1.507  c0.242,0.306,0.322,0.852,0.18,1.214l-0.711,1.784c-0.145,0.362-0.577,0.705-0.963,0.762L83.629,48.246z"/><path d="M91.617,46.52c-0.387,0.058-0.898-0.146-1.141-0.452l-0.334-0.423c-0.242-0.306-0.322-0.853-0.182-1.215l0.2-0.506  c0.146-0.362,0.573-0.705,0.962-0.761l0.531-0.078c0.387-0.056,0.898,0.147,1.144,0.453l0.341,0.426  c0.241,0.305,0.321,0.851,0.18,1.213l-0.197,0.5c-0.145,0.362-0.577,0.706-0.963,0.763L91.617,46.52z"/><path d="M9.636,39.804c-0.385,0.058-0.898-0.145-1.14-0.451L8.454,39.3c-0.242-0.306-0.322-0.852-0.179-1.215l0.026-0.065  c0.143-0.363,0.576-0.706,0.961-0.762l0.064-0.009c0.386-0.057,0.9,0.146,1.143,0.451l0.044,0.056  c0.243,0.305,0.324,0.851,0.181,1.213L10.67,39.03c-0.144,0.362-0.577,0.706-0.962,0.764L9.636,39.804z"/><path d="M14.632,29.562c-0.385,0.058-0.898-0.146-1.14-0.452l-0.231-0.292c-0.241-0.306-0.322-0.853-0.178-1.215l0.136-0.343  c0.144-0.362,0.576-0.706,0.962-0.763l0.369-0.054c0.386-0.057,0.898,0.146,1.14,0.452l0.23,0.292  c0.241,0.306,0.321,0.852,0.176,1.214l-0.138,0.343c-0.145,0.362-0.578,0.705-0.963,0.763L14.632,29.562z"/><path d="M23.18,38.713c-0.386,0.057-0.899-0.146-1.142-0.452l-1.02-1.285c-0.243-0.306-0.323-0.852-0.18-1.214l0.605-1.529  c0.144-0.362,0.577-0.706,0.962-0.762l1.616-0.239c0.386-0.057,0.899,0.146,1.142,0.451l1.02,1.285  c0.243,0.305,0.324,0.851,0.18,1.213l-0.605,1.529c-0.144,0.363-0.576,0.706-0.962,0.763L23.18,38.713z"/><path d="M15.097,37.979c-0.386,0.057-0.899-0.147-1.141-0.453l-0.667-0.844c-0.242-0.306-0.322-0.852-0.179-1.214l0.396-0.999  c0.144-0.362,0.577-0.706,0.962-0.763l1.064-0.158c0.385-0.058,0.898,0.146,1.141,0.451l0.668,0.844  c0.242,0.306,0.323,0.852,0.18,1.215l-0.397,1.004c-0.143,0.363-0.576,0.706-0.961,0.762L15.097,37.979z"/><path d="M26.749,47.721c-0.386,0.057-0.899-0.147-1.14-0.453l-1.182-1.499c-0.241-0.306-0.322-0.853-0.179-1.215l0.7-1.771  c0.143-0.363,0.576-0.706,0.961-0.763l1.891-0.279c0.386-0.057,0.899,0.146,1.141,0.452l1.181,1.493  c0.242,0.306,0.323,0.853,0.18,1.215L29.6,46.679c-0.143,0.362-0.575,0.706-0.961,0.762L26.749,47.721z"/><path d="M36.432,49.341c-0.386,0.057-0.899-0.147-1.142-0.452l-1.631-2.051c-0.243-0.305-0.323-0.851-0.179-1.213l0.967-2.436  c0.144-0.362,0.577-0.706,0.963-0.763l2.585-0.383c0.386-0.057,0.899,0.146,1.141,0.451l1.626,2.053  c0.242,0.305,0.323,0.852,0.18,1.214l-0.962,2.44c-0.143,0.362-0.575,0.705-0.961,0.762L36.432,49.341z"/><path d="M46.915,51.305c-0.386,0.057-0.899-0.148-1.142-0.453l-1.755-2.208c-0.243-0.306-0.324-0.852-0.18-1.214l1.04-2.625  c0.143-0.362,0.576-0.706,0.962-0.763l2.796-0.415c0.386-0.057,0.899,0.146,1.142,0.451l1.75,2.208  c0.242,0.305,0.324,0.852,0.184,1.215l-1.033,2.631c-0.144,0.363-0.576,0.706-0.962,0.765L46.915,51.305z"/><path d="M57.926,53.258c-0.386,0.057-0.898-0.146-1.142-0.451l-1.89-2.376c-0.242-0.305-0.322-0.852-0.182-1.214l1.119-2.829  c0.146-0.363,0.576-0.706,0.962-0.762l3.009-0.443c0.385-0.057,0.896,0.147,1.141,0.453l1.883,2.377  c0.24,0.306,0.322,0.852,0.179,1.214l-1.12,2.831c-0.144,0.359-0.576,0.703-0.962,0.762L57.926,53.258z"/><path d="M68.842,55.148c-0.386,0.057-0.898-0.147-1.142-0.453l-1.533-1.934c-0.242-0.308-0.323-0.855-0.181-1.217l0.906-2.291  c0.145-0.363,0.574-0.706,0.963-0.763l2.44-0.363c0.388-0.057,0.897,0.146,1.144,0.451l1.533,1.935  c0.24,0.307,0.321,0.854,0.18,1.215l-0.907,2.299c-0.144,0.363-0.576,0.705-0.962,0.763L68.842,55.148z"/><path d="M78.918,56.584c-0.386,0.057-0.898-0.146-1.143-0.452l-1.271-1.604c-0.24-0.305-0.322-0.853-0.182-1.215l0.753-1.901  c0.146-0.362,0.575-0.706,0.962-0.765l2.029-0.296c0.387-0.057,0.897,0.146,1.143,0.453l1.275,1.604  c0.242,0.307,0.322,0.853,0.18,1.215L81.9,55.525c-0.146,0.361-0.576,0.705-0.963,0.763L78.918,56.584z"/><path d="M88.305,56.025c-0.386,0.058-0.896-0.146-1.141-0.451l-0.643-0.812c-0.242-0.306-0.322-0.853-0.183-1.215l0.382-0.957  c0.143-0.361,0.572-0.706,0.961-0.764l1.022-0.152c0.386-0.058,0.897,0.146,1.144,0.451l0.644,0.812  c0.241,0.306,0.321,0.852,0.179,1.213l-0.383,0.961c-0.145,0.361-0.577,0.705-0.963,0.763L88.305,56.025z"/><path d="M89.375,65.178c-0.387,0.057-0.898-0.146-1.143-0.451L87.58,63.91c-0.243-0.307-0.324-0.854-0.182-1.215l0.384-0.971  c0.144-0.363,0.575-0.707,0.962-0.766l1.039-0.152c0.386-0.059,0.898,0.146,1.142,0.45l0.648,0.817  c0.241,0.306,0.323,0.854,0.18,1.215l-0.385,0.973c-0.144,0.361-0.576,0.707-0.962,0.764L89.375,65.178z"/><path d="M81.986,65.5c-0.385,0.057-0.898-0.146-1.141-0.451l-1.021-1.285c-0.242-0.305-0.322-0.851-0.18-1.213l0.604-1.52  c0.145-0.361,0.577-0.704,0.963-0.762l1.615-0.236c0.386-0.057,0.898,0.146,1.142,0.451l1.017,1.281  c0.242,0.307,0.324,0.854,0.182,1.215l-0.602,1.517c-0.145,0.362-0.576,0.706-0.961,0.763L81.986,65.5z"/><path d="M73.039,65.525c-0.387,0.057-0.898-0.146-1.143-0.451l-1.312-1.645c-0.243-0.308-0.321-0.854-0.181-1.216l0.773-1.942  c0.146-0.362,0.577-0.705,0.963-0.766l2.076-0.311c0.385-0.059,0.898,0.146,1.141,0.451l1.302,1.646  c0.239,0.309,0.319,0.854,0.179,1.217l-0.771,1.945c-0.145,0.359-0.574,0.706-0.961,0.766L73.039,65.525z"/><path d="M62.279,63.256c-0.385,0.057-0.898-0.146-1.141-0.451l-1.627-2.047c-0.242-0.305-0.322-0.852-0.181-1.213l0.961-2.422  c0.146-0.361,0.577-0.705,0.963-0.762l2.572-0.379c0.386-0.059,0.897,0.146,1.144,0.451l1.617,2.041  c0.242,0.305,0.323,0.852,0.184,1.213l-0.957,2.422c-0.146,0.363-0.576,0.707-0.961,0.764L62.279,63.256z"/><path d="M51.061,60.678c-0.385,0.057-0.896-0.146-1.141-0.451l-1.862-2.354c-0.242-0.307-0.322-0.854-0.179-1.217l1.104-2.786  c0.144-0.362,0.577-0.706,0.962-0.765l2.968-0.438c0.386-0.059,0.899,0.146,1.142,0.452l1.861,2.346  c0.242,0.308,0.322,0.854,0.18,1.216l-1.104,2.797c-0.145,0.361-0.576,0.707-0.963,0.765L51.061,60.678z"/><path d="M39.555,60.447c-0.386,0.057-0.899-0.146-1.142-0.452l-2.131-2.687c-0.242-0.309-0.323-0.854-0.18-1.215l1.258-3.185  c0.144-0.362,0.576-0.706,0.962-0.765l3.386-0.502c0.386-0.058,0.9,0.146,1.143,0.451l2.136,2.682  c0.243,0.309,0.324,0.854,0.181,1.217l-1.264,3.188c-0.143,0.361-0.576,0.705-0.962,0.762L39.555,60.447z"/><path d="M30.843,55.572c-0.385,0.059-0.899-0.145-1.141-0.45l-1.2-1.515c-0.242-0.305-0.322-0.854-0.179-1.215l0.71-1.791  c0.144-0.365,0.577-0.708,0.962-0.764l1.911-0.28c0.386-0.056,0.899,0.147,1.141,0.453l1.193,1.504  c0.242,0.307,0.322,0.854,0.179,1.215l-0.71,1.791c-0.144,0.363-0.577,0.707-0.962,0.767L30.843,55.572z"/><path d="M17.866,47.334c-0.386,0.057-0.899-0.146-1.142-0.451l-0.93-1.174c-0.242-0.305-0.323-0.852-0.18-1.214l0.548-1.385  c0.144-0.362,0.576-0.706,0.962-0.763l1.477-0.218c0.386-0.057,0.899,0.146,1.142,0.451l0.931,1.173  c0.242,0.305,0.322,0.852,0.178,1.213L20.3,46.353c-0.144,0.362-0.578,0.705-0.963,0.762L17.866,47.334z"/><path d="M10.571,47.392c-0.385,0.058-0.899-0.145-1.141-0.45l-0.504-0.636c-0.242-0.305-0.323-0.852-0.179-1.214l0.298-0.749  c0.144-0.362,0.577-0.706,0.962-0.764l0.795-0.119c0.385-0.058,0.899,0.145,1.141,0.45l0.504,0.636  c0.242,0.305,0.323,0.852,0.179,1.214l-0.298,0.749c-0.144,0.362-0.577,0.706-0.962,0.764L10.571,47.392z"/><path d="M22.497,57.299c-0.386,0.057-0.899-0.146-1.141-0.451l-1.442-1.82c-0.242-0.307-0.323-0.854-0.179-1.215l0.856-2.166  c0.144-0.36,0.576-0.707,0.962-0.765l2.297-0.342c0.386-0.057,0.9,0.146,1.142,0.45l1.455,1.828  c0.242,0.306,0.323,0.852,0.179,1.213l-0.862,2.168c-0.144,0.361-0.577,0.705-0.963,0.762L22.497,57.299z"/><path d="M30.265,65.918c-0.386,0.057-0.899-0.146-1.142-0.451l-1.828-2.301c-0.243-0.305-0.323-0.852-0.18-1.214l1.085-2.736  c0.144-0.362,0.577-0.706,0.962-0.763l2.902-0.43c0.386-0.059,0.899,0.146,1.142,0.451l1.834,2.309  c0.243,0.305,0.323,0.852,0.179,1.213l-1.084,2.732c-0.144,0.358-0.577,0.705-0.963,0.762L30.265,65.918z"/><path d="M45.742,67.336c-0.386,0.057-0.899-0.146-1.142-0.451l-1.364-1.719c-0.242-0.305-0.322-0.852-0.178-1.213l0.809-2.033  c0.144-0.361,0.578-0.705,0.963-0.762l2.166-0.32c0.386-0.057,0.899,0.146,1.142,0.452l1.357,1.711  c0.242,0.306,0.323,0.853,0.179,1.214l-0.811,2.042c-0.144,0.362-0.577,0.705-0.962,0.763L45.742,67.336z"/><path d="M37.521,72.689c-0.386,0.058-0.899-0.146-1.142-0.451l-1.651-2.08c-0.242-0.305-0.323-0.852-0.18-1.215l0.975-2.467  c0.144-0.361,0.576-0.705,0.962-0.765l2.625-0.39c0.386-0.059,0.899,0.146,1.141,0.451l1.652,2.084  c0.242,0.308,0.322,0.854,0.178,1.215l-0.979,2.469c-0.144,0.359-0.577,0.704-0.963,0.764L37.521,72.689z"/><path d="M55.109,70.663c-0.387,0.058-0.899-0.146-1.145-0.451l-1.453-1.836c-0.242-0.306-0.322-0.853-0.181-1.215l0.858-2.173  c0.146-0.361,0.578-0.705,0.965-0.764l2.312-0.346c0.388-0.061,0.899,0.146,1.144,0.451l1.455,1.836  c0.242,0.309,0.324,0.854,0.182,1.215l-0.857,2.174c-0.144,0.36-0.576,0.707-0.961,0.764L55.109,70.663z"/><path d="M65.691,73.673c-0.385,0.058-0.898-0.146-1.144-0.45l-1.562-1.961c-0.24-0.306-0.321-0.853-0.18-1.215l0.92-2.322  c0.146-0.363,0.576-0.705,0.963-0.763L67.16,66.6c0.386-0.058,0.898,0.146,1.145,0.451l1.559,1.959  c0.242,0.305,0.324,0.852,0.181,1.213l-0.92,2.318c-0.146,0.361-0.577,0.705-0.963,0.764L65.691,73.673z"/><path d="M76.223,74.8c-0.386,0.058-0.896-0.146-1.141-0.45l-1.02-1.289c-0.242-0.306-0.322-0.853-0.182-1.215l0.604-1.523  c0.145-0.359,0.576-0.702,0.963-0.762l1.621-0.238c0.386-0.057,0.896,0.146,1.142,0.451l1.021,1.285  c0.242,0.305,0.322,0.854,0.182,1.213l-0.604,1.523c-0.146,0.361-0.578,0.705-0.965,0.764L76.223,74.8z"/><path d="M84.297,73.536c-0.386,0.058-0.898-0.146-1.141-0.451l-0.662-0.84c-0.242-0.306-0.322-0.853-0.18-1.216l0.393-0.995  c0.143-0.362,0.575-0.706,0.961-0.763l1.064-0.158c0.386-0.057,0.896,0.146,1.141,0.453l0.662,0.84  c0.242,0.307,0.322,0.854,0.179,1.216l-0.392,0.989c-0.143,0.363-0.575,0.707-0.961,0.765L84.297,73.536z"/><path d="M68.172,83.336c-0.386,0.057-0.898-0.146-1.141-0.453l-1.457-1.846c-0.242-0.307-0.322-0.854-0.18-1.217l0.856-2.178  c0.146-0.361,0.575-0.705,0.961-0.765l2.33-0.344c0.388-0.06,0.897,0.146,1.144,0.45l1.461,1.844  c0.242,0.309,0.32,0.854,0.179,1.214l-0.866,2.188c-0.145,0.358-0.577,0.705-0.963,0.762L68.172,83.336z"/><path d="M77.213,81.197c-0.386,0.058-0.898-0.146-1.141-0.451l-0.108-0.141c-0.241-0.309-0.321-0.854-0.181-1.217l0.062-0.162  c0.141-0.363,0.57-0.707,0.959-0.768l0.186-0.025c0.386-0.06,0.898,0.146,1.139,0.453l0.109,0.139  c0.24,0.307,0.318,0.854,0.176,1.216l-0.066,0.167c-0.145,0.361-0.578,0.705-0.964,0.764L77.213,81.197z"/><path d="M61.768,89.866c-0.386,0.057-0.896-0.147-1.142-0.453l-1.056-1.33c-0.241-0.306-0.322-0.853-0.18-1.215l0.627-1.582  c0.145-0.362,0.574-0.706,0.963-0.765l1.682-0.248c0.386-0.061,0.898,0.146,1.143,0.449l1.062,1.338  c0.24,0.306,0.32,0.852,0.178,1.213l-0.631,1.586c-0.146,0.361-0.578,0.703-0.964,0.761L61.768,89.866z"/><path d="M57.359,81.186c-0.385,0.059-0.897-0.146-1.143-0.453l-1.81-2.291c-0.242-0.307-0.322-0.854-0.181-1.215l1.078-2.718  c0.146-0.362,0.575-0.706,0.961-0.764l2.889-0.429c0.387-0.06,0.896,0.146,1.142,0.451l1.812,2.295  c0.242,0.306,0.322,0.853,0.182,1.215l-1.066,2.716c-0.145,0.362-0.576,0.706-0.961,0.763L57.359,81.186z"/><path d="M47.152,76.859c-0.386,0.059-0.899-0.146-1.142-0.449l-1.363-1.717c-0.242-0.305-0.323-0.854-0.181-1.215l0.806-2.043  c0.143-0.361,0.575-0.705,0.961-0.764l2.167-0.316c0.386-0.059,0.899,0.146,1.142,0.453l1.362,1.717  c0.242,0.307,0.322,0.854,0.18,1.216l-0.803,2.032c-0.143,0.363-0.576,0.707-0.961,0.765L47.152,76.859z"/><path d="M37.941,81.934c-0.386,0.057-0.899-0.146-1.142-0.451l-1.56-1.967c-0.242-0.306-0.323-0.852-0.179-1.213l0.926-2.332  c0.144-0.361,0.577-0.705,0.963-0.763l2.482-0.369c0.386-0.058,0.899,0.146,1.141,0.451l1.554,1.967  c0.242,0.306,0.322,0.853,0.179,1.216l-0.922,2.334c-0.143,0.362-0.576,0.705-0.961,0.764L37.941,81.934z"/><path d="M48.91,85.777c-0.386,0.058-0.899-0.146-1.142-0.451l-1.192-1.502c-0.242-0.305-0.323-0.852-0.179-1.213l0.709-1.785  c0.144-0.362,0.577-0.705,0.963-0.762l1.892-0.279c0.386-0.057,0.898,0.146,1.143,0.451l1.191,1.502  c0.242,0.305,0.323,0.852,0.182,1.214l-0.701,1.784c-0.144,0.363-0.573,0.705-0.961,0.763L48.91,85.777z"/><path d="M54.959,91.357c-0.387,0.059-0.898-0.146-1.143-0.449l-0.588-0.74c-0.242-0.305-0.324-0.852-0.185-1.215l0.349-0.883  c0.144-0.363,0.572-0.707,0.961-0.764l0.938-0.144c0.388-0.06,0.897,0.146,1.144,0.452l0.59,0.742  c0.242,0.309,0.322,0.854,0.179,1.218l-0.349,0.879c-0.146,0.36-0.578,0.706-0.963,0.767L54.959,91.357z"/><path d="M48.162,91.462c-0.385,0.06-0.899-0.144-1.141-0.448l-0.102-0.129c-0.242-0.306-0.323-0.853-0.179-1.215l0.061-0.15  c0.144-0.36,0.577-0.707,0.962-0.766l0.167-0.025c0.385-0.058,0.898,0.146,1.14,0.451l0.099,0.125  c0.241,0.307,0.321,0.854,0.177,1.215l-0.061,0.154c-0.144,0.361-0.577,0.706-0.962,0.766L48.162,91.462z"/><path d="M40.25,90.764c-0.385,0.057-0.898-0.146-1.14-0.451l-1.364-1.726c-0.242-0.306-0.322-0.853-0.179-1.215l0.804-2.033  c0.144-0.362,0.576-0.706,0.962-0.764l2.167-0.322c0.386-0.058,0.899,0.146,1.142,0.45l1.363,1.719  c0.242,0.305,0.323,0.852,0.18,1.215l-0.805,2.039c-0.143,0.362-0.576,0.706-0.961,0.764L40.25,90.764z"/><path d="M29.562,86.156c-0.385,0.059-0.898-0.145-1.14-0.45l-1.108-1.401c-0.242-0.307-0.322-0.854-0.179-1.216l0.653-1.651  c0.143-0.36,0.576-0.705,0.961-0.763l1.766-0.26c0.386-0.058,0.899,0.147,1.142,0.452l1.107,1.395  c0.242,0.305,0.323,0.852,0.18,1.215L32.29,85.13c-0.143,0.362-0.576,0.706-0.961,0.765L29.562,86.156z"/><path d="M28.192,75.458c-0.386,0.058-0.899-0.146-1.142-0.45l-1.466-1.844c-0.243-0.305-0.323-0.852-0.18-1.214l0.868-2.187  c0.144-0.361,0.577-0.705,0.962-0.765l2.323-0.347c0.386-0.057,0.899,0.146,1.141,0.453l1.457,1.842  c0.242,0.307,0.323,0.855,0.18,1.216l-0.864,2.187c-0.143,0.36-0.576,0.707-0.961,0.764L28.192,75.458z"/><path d="M22.484,79.715c-0.386,0.057-0.899-0.146-1.141-0.451l-0.903-1.14c-0.242-0.306-0.322-0.853-0.179-1.215l0.534-1.347  c0.144-0.361,0.577-0.705,0.962-0.76l1.431-0.209c0.386-0.059,0.899,0.145,1.142,0.451l0.897,1.133  c0.242,0.307,0.324,0.854,0.181,1.215l-0.53,1.348c-0.143,0.363-0.575,0.707-0.96,0.764L22.484,79.715z"/><path d="M15.911,75.689c-0.386,0.057-0.898-0.147-1.14-0.455l-0.499-0.633c-0.242-0.309-0.321-0.854-0.178-1.215l0.297-0.75  c0.144-0.361,0.577-0.705,0.962-0.765l0.796-0.119c0.386-0.06,0.899,0.146,1.14,0.453l0.499,0.631c0.241,0.31,0.323,0.854,0.18,1.22  l-0.295,0.754c-0.143,0.36-0.574,0.705-0.96,0.762L15.911,75.689z"/><path d="M21.107,67.63c-0.386,0.058-0.899-0.146-1.141-0.45l-1.417-1.795c-0.242-0.306-0.322-0.854-0.179-1.215l0.843-2.126  c0.143-0.362,0.576-0.705,0.962-0.763l2.258-0.331c0.386-0.058,0.899,0.147,1.142,0.452l1.421,1.789  c0.243,0.305,0.323,0.852,0.18,1.213l-0.842,2.125c-0.144,0.363-0.577,0.707-0.962,0.765L21.107,67.63z"/><path d="M15.242,57.396c-0.386,0.058-0.899-0.146-1.142-0.451l-0.752-0.948c-0.242-0.306-0.323-0.853-0.179-1.216l0.448-1.129  c0.144-0.361,0.577-0.705,0.962-0.762l1.202-0.178c0.386-0.059,0.899,0.146,1.14,0.454l0.749,0.944  c0.241,0.31,0.322,0.855,0.179,1.219l-0.443,1.121c-0.143,0.359-0.576,0.705-0.961,0.764L15.242,57.396z"/><path d="M9.194,58.27c-0.386,0.06-0.899-0.146-1.141-0.451L7.62,57.27c-0.242-0.306-0.322-0.852-0.178-1.213l0.256-0.646  c0.144-0.362,0.578-0.706,0.963-0.765l0.692-0.104c0.385-0.06,0.898,0.146,1.14,0.45l0.433,0.549  c0.242,0.309,0.323,0.854,0.18,1.215l-0.255,0.646c-0.143,0.361-0.575,0.705-0.961,0.765L9.194,58.27z"/><path d="M13.281,66.947c-0.386,0.059-0.9-0.145-1.142-0.449l-0.726-0.912c-0.242-0.305-0.323-0.852-0.178-1.213l0.433-1.084  c0.145-0.361,0.578-0.705,0.963-0.764l1.144-0.17c0.385-0.061,0.899,0.146,1.141,0.449l0.727,0.918  c0.242,0.305,0.323,0.85,0.179,1.213l-0.429,1.078c-0.144,0.36-0.577,0.705-0.963,0.764L13.281,66.947z"/></svg>
        </ion-card>

        <ion-card class="create" [ngClass]="this.hasConnection && this.allowCreate ? 'active' : 'disabled'" tappable (click)="createRoom()">
            <div class="card-title">Create</div>
            <div class="card-subtitle" *ngIf="this.allowCreate">Create a lobby and invite your friends</div>
            <div class="card-subtitle" *ngIf="!this.allowCreate">Coming soon to Web Player</div>
            <svg class="card-icon-create" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><g><path fill="#000000" d="M50,59.624c-5.1,0-9.249-4.14-9.249-9.229c0-5.089,4.149-9.229,9.249-9.229s9.249,4.14,9.249,9.229   C59.249,55.484,55.1,59.624,50,59.624z M50,43.163c-3.998,0-7.249,3.245-7.249,7.233c0,3.988,3.251,7.233,7.249,7.233   s7.249-3.246,7.249-7.233C57.249,46.407,53.998,43.163,50,43.163z"/></g><g><rect x="49" y="58.626" fill="#000000" width="2" height="35.667"/></g><g><path fill="#000000" d="M58.653,70.032l-0.807-1.827c7.079-3.108,11.653-10.1,11.653-17.81c0-10.727-8.748-19.455-19.5-19.455   s-19.5,8.728-19.5,19.455c0,7.71,4.574,14.701,11.653,17.81l-0.806,1.827C33.544,66.604,28.5,58.896,28.5,50.396   c0-11.828,9.646-21.45,21.5-21.45s21.5,9.623,21.5,21.45C71.5,58.896,66.456,66.604,58.653,70.032z"/></g><g><path fill="#000000" d="M58.503,82.728l-0.506-1.93C71.835,77.185,81.5,64.683,81.5,50.396c0-17.328-14.131-31.427-31.5-31.427   S18.5,33.067,18.5,50.396c0,14.288,9.665,26.789,23.503,30.402l-0.506,1.93C26.78,78.885,16.5,65.59,16.5,50.396   c0-18.429,15.028-33.422,33.5-33.422c18.473,0,33.5,14.993,33.5,33.422C83.5,65.59,73.221,78.885,58.503,82.728z"/></g><g><path fill="#000000" d="M58.437,94.5l-0.374-1.961C78.308,88.708,93,70.983,93,50.396c0-23.655-19.29-42.9-43-42.9   S7,26.74,7,50.396c0,20.587,14.692,38.312,34.938,42.144L41.563,94.5C20.378,90.489,5,71.94,5,50.396C5,25.64,25.188,5.5,50,5.5   s45,20.14,45,44.896C95,71.94,79.622,90.489,58.437,94.5z"/></g></svg>
        </ion-card>
      </ion-content>
      <ion-fab right bottom>
        <button ion-fab color="dark" (click)="help()"><ion-icon name="help"></ion-icon></button>
      </ion-fab>
</section>
