ion-fab {
  ion-icon {
    font-size: 4.4rem;
  }
}

ion-slide {
  img {
    width: 175px !important;
  margin-top: -35px;
  opacity: .5;
  }

  .slides-name {
    margin-top: 20px;

    .text-input {
      text-align: center;
      height: 40px;
      font-size: 26px;
    }
  }

  h2 {
    color: #333;
  }

  .slider-title {
    color: #222;
    font-weight: 300;
    font-size: 27px;
  }

  .slider-desc {
    color: #444;
    font-weight: 300;
    font-size: 15px;
  }
  .slider-swipe-left {
    font-weight: 300;
    color: #777;
    font-size: 25px;
    margin-top: 60px;
  }
}

.card-background-page {
  .header-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #AcAcAc;
    position: relative;
    height: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    .header-divider-text {
      font-size: 12px;
      background-color: $background;
      position: absolute;
      text-transform: uppercase;
      font-weight: bold;
      width: 55px;
      margin-left: -27px;
      margin-top: 16px;
      color: lighten(#6c6c6c, 15);
    }
  }

  ion-card {
    position: relative;
    text-align: center;
    height: 140px;
    background-color: #488aff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 25px;

    &.create {
      background-color: $blue;
    }

    &.join {
      margin-top: 95px;
      background-color: $green;
    }

    @media(min-width: 850px) {
      height: 185px !important;
    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.3em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    margin-top: -10px;
  }

  .card-subtitle {
    font-size: 1.2em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    opacity: .9;
    margin-top: 10px;
    font-weight: 300;
  }

  .card-icon-join {
    width: 45%;
    position: absolute;
    right: 0;
    top: -15px;
    transform: rotate(15deg);
    opacity: .15;

    path {
      fill: white;
    }

    @media(min-width: 850px) {
      top: -75px
    }
  }

  .card-icon-create {
    width: 45%;
    position: absolute;
    left: 0;
    top: -15px;
    transform: rotate(-15deg);
    opacity: .15;

    path {
      fill: white;
    }

    rect {
      fill: white;
    }

    @media(min-width: 850px) {
      top: -130px;
    }
  }
}
