<ion-fab class="current-users" right bottom>
  <button ion-fab (click)="open()">
    <ion-icon name="notifications" name="people">
      <ion-badge id="notifications-badge" color="danger">{{ clientCount }}</ion-badge>
    </ion-icon>
  </button>
</ion-fab>
