<div class="no-tracks animated fadeIn" *ngIf="showQueue && queue == 0">
  <h1>Nothing Is Up Next!</h1>
  <p>How about we fix that?</p>
  <button ion-button outline large tappable (click)="browse();">Browse Library</button>
</div>

<div *ngIf="showQueue && queue != 0">
  <ion-row>
    <ion-label class="up-next animated fadeInDown"><h1>Up Next</h1></ion-label>
    <button ion-button round outline small class="edit-button" *ngIf="host && !enableVoting" [ngClass]="(editToggle) ? 'edit-button-enabled':''" (click)="edit();">Edit</button>
    <button ion-button round outline small class="browse-button" (click)="browse();">Add</button>
  </ion-row>

  <ion-item-group class="queued-list" reorder="{{ host && editToggle }}" (ionItemReorder)="reorderItems($event)">
      <ion-card class="track-item slideInLeft" [ngClass]="(!editToggle) ? 'animated':''" *ngFor="let track of queue">
          <ion-item (press)="vote(track)">
            <ion-thumbnail item-left>
              <img src="{{ track.imageUrl }}">
              <span *ngIf="!enableVoting" light play [ngClass]="(host) ? 'play':''">
                  <button *ngIf="!editToggle && host" playbutton class="playbutton" ion-button icon-only clear (click)="play(track)">
                    <ion-icon name="play"></ion-icon>
                  </button>
                  <button *ngIf="editToggle && host" closebutton class="playbutton" ion-button icon-only clear (click)="deleteFromQueue(track)">
                    <ion-icon name="close"></ion-icon>
                  </button>
              </span>
              <span *ngIf="enableVoting" light [ngClass]="(track.queuedById == userId) || ((voted.indexOf(track.id) !== -1) && (track.queuedById != userId)) ? 'play':''">
                  <!-- Delete -->
                  <button *ngIf="track.queuedById == userId" closebutton class="playbutton" ion-button icon-only clear (click)="deleteFromQueue(track)">
                    <ion-icon name="close"></ion-icon>
                  </button>
                  <!-- Voted Indicator -->
                  <button *ngIf="(voted.indexOf(track.id) !== -1) && (track.queuedById != userId)" closebutton class="playbutton" ion-button icon-only clear>
                    <ion-icon name="thumbs-up" class="animated bounceIn blue"></ion-icon>
                  </button>
              </span>
            </ion-thumbnail>
            <div item-content style="width:100%">
              <div class="track-name">{{ track.name }}</div>
              <div class="track-title">{{ track.artist }} &#8226; {{ track.album }}</div>
              <ion-note class="track-queued">
                <ion-badge color="light" class="queued-by-badge" small item-end><ion-icon name="contact"></ion-icon>{{ track.queuedBy }}'s Pick</ion-badge>
                <ion-badge *ngIf="enableVoting" [ngClass]="(voted.indexOf(track.id) !== -1) ? 'voted':''" color="light" class="votes-badge" small item-end>{{ track.votes }} Votes</ion-badge>
              </ion-note>
            </div>
          </ion-item>
        </ion-card>
  </ion-item-group>
</div>

