<div class="settings-modal">
  <div class="settings-header">Queueing Method</div>
  <ion-list radio-group [(ngModel)]="voting">
    <ion-item-group>
      <ion-item>
        <ion-label>Host Decides</ion-label>
        <ion-radio (ionSelect)="setVoting()" value="false"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Users Vote</ion-label>
        <ion-radio (ionSelect)="setVoting()" value="true"></ion-radio>
      </ion-item>
    </ion-item-group>
  </ion-list>
</div>

