p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 3px;
}

h1 {
  font-weight: 300;
}

h3 {
  font-weight: 300;
  font-size: 19px;
  margin-top: 20px;
}

.copyright {
  font-size: 11px;
}

.popover-viewport {
  background-color: #f6f6f6;
}

.popover-content {
  background-color: #f6f6f6;
  box-shadow: 0 19px 38px rgba(0,0,0,0.22), 0 15px 12px rgba(0,0,0,0.12);
  border-radius: 5px;
  margin-left: 5px;
}
.settings-modal {
  .settings-header {
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 0.55px solid #ccc;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px 0px 7px 13px;
    font-size: 1.15rem;
    color: #555;
  }

  ion-item-group {
    border-bottom: 0.55px solid #ccc;
    background-color: #fff;
  }

  ion-list {
    margin-bottom: 15px !important;
  }
}
