<ion-header>
 <ion-toolbar class="toolbar toolbar-clear" transparent>
  <ion-title>Information</ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
  </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>What is Squawkbox?</h1>
    <p>Squawkbox is a virtual jukebox. Squawkbox allows users to sign into their Spotify accounts and host sessions. Once a session is started, they can invite users to join their room and begin queueing up tracks to play. Connect your host's phone to a speaker, and let the party begin!</p>
    <h1>Getting Started</h1>
    <p>To get started, choose either the <strong>Join</strong> or <strong>Create</strong> options from the home screen.</p>

    <h3>Creating a Room</h3>
    <p>To create a room, you will first need to attach your Spotify account to Squawkbox; you will only need to do this once. After Spotify has been authenticated, you will be redirected to a SquawkBox session. Give users your Room Code (found at the top of the screen) so that they can join your session. </p>

    <h3>Joining a Room</h3>
    <p>After clicking the Join button, you can enter your friends' Room ID to join their session. If a session is found on your local network, then an auto-join button will appear.</p>

    <h1>Queueing Tracks</h1>
    <p>Once you're in a room, you can start queueing tracks by hitting the browse button. You will have the ability to select from your host's personal library. Only the host will have access to Start/Stop/Skip/Rearrange songs in a queue.</p>

    <br/>
    <p class="copyright">&copy; TimeShifts - 2018</p>
</ion-content>
