<ion-content>
  <h5 class="header-modal-label" text-center>Join</h5>
  <button class="header-modal-close" ion-button icon-only clear (click)="close()"><ion-icon name="close"></ion-icon></button>

  <div *ngIf="!hasLocalRoom || hasDeclinedAutoJoin">
    <ion-list class="join-modal-contents">
      <ion-item>
        <ion-input [(ngModel)]="room" placeholder="Room Code" type="text" (input)="setUpperCase($event.target.value)"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row>
        <button class="secondary-block-btn" ion-button round block color="secondary" (click)="join()" [disabled]="room.length != 6">Join</button>
        <button *ngIf="hasLocalRoom" ion-button color="dark" clear block class="underline" (click)="joinLocalRoom()">Join room found on network</button>
    </ion-row>
  </div>


  <ion-row *ngIf="hasLocalRoom && !hasDeclinedAutoJoin">
    <div class="room-found">
        <h1>Room found!</h1>
        <p>We just detected another Squawkbox session on your network!</p>
        <button ion-button round block color="secondary" (click)="joinLocalRoom()">Join Room</button>
        <button ion-button color="dark" clear block class="underline" (click)="declineAutoJoin()">No thanks, I want to join another room</button>
    </div>
  </ion-row>

</ion-content>
