.header-modal-label {
  margin-bottom: 30px;
  color: #333333;
}

.header-modal-close {
  position: absolute;
  right: 0;
  top: 0;
}

.join-modal-contents {
  margin-top: 65px !important;

  .text-input {
    text-align: center;
    height: 40px;
    font-size: 26px;
  }
}

.room-found {
  width: 100%;
  padding: 20px;
  padding-top: 0px;
  margin-top: -5px;
  text-align: center;

  h1 {
    font-size: 3rem;
    margin-top: 15px;
  }

  p {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    padding: 0px;
    padding-bottom: 20px;
  }

  .underline {
    color: #888;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 5px;
  }
}

.underline {
  color: #888;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 5px;
}
