<ion-content>
  <h5 class="header-modal-label" text-center>Users In Room</h5>
  <button class="header-modal-close" ion-button icon-only clear (click)="close()"><ion-icon name="close"></ion-icon></button>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <div>{{ user.name}}</div>
    </ion-item>
  </ion-list>
</ion-content>
